@model TPLOCAL1.Models.FormInfos

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>HN - TP LOCAL- Page de validation</title>
    <link rel="feuille de style" href="~/resources/Index.css" />
</head>
<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Page de validation</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/OpinionList">Liste avis</a></li>
        </ul>
    </nav>

    <section>
        <p>Votre formulaire a bien été pris en compte</p>

        <p>            
                <table class="table">
                <thead>Informations personnelles</thead>

                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>@Model.Nom</td>
                    </tr>

                    <tr>
                        <th>Prénom</th>
                        <td>@Model.Prenom</td>
                    </tr>

                    <tr>
                        <th>Sexe</th>
                        <td>@Model.Sexe </td>
                    </tr>

                    <tr>
                        <th>Adresse</th>
                        <td>@Model.Adresse</td>
                    </tr>

                    <tr>
                        <th>Code postal</th>
                        <td>@Model.CodePostal</td>
                    </tr>

                    <tr>
                        <th>Ville</th>
                        <td>@Model.Ville</td>
                    </tr>

                    <tr>
                        <th>Adresse mail</th>
                        <td>@Model.AdresseMail</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>Informations sur la formation suivie</thead>

                <tbody>
                    <tr>
                        <th>Date de début de la formation</th>
                        <td>@Model.DateDebut</td>
                    </tr>

                    <tr>
                        <th>Formation suivie</th>
                        <td>@Model.FormationSuivie</td>
                    </tr>                   
                </tbody>
            </table>

            <table class="table">
                <thead>Avis sur la formation suivie</thead>

                <tbody>
                    <tr>
                        <th>Formation Cobol</th>
                        <td>@Model.AvisCobol</td>
                    </tr>

                    <tr>
                        <th>Formation C#</th>
                        <td>@Model.AvisCSharp</td>
                    </tr>                   
                </tbody>
            </table>

        </p>
    </section>
</body>
</html>
